h1 {
  color:#fff;
  font-family: 'Cinzel', serif;
  background-color:#fff;
   background-image: url('https://images-na.ssl-images-amazon.com/images/I/61Be9iO9L5L._SX425_.jpg');
   background-repeat:repeat;
   border-radius: 23px; 
  border: 4px double #add8e6;
}

h2 {
  color:#000;
  font-family: 'Meddon', cursive;
  background-color:transparent;
   background-repeat:repeat;
   border-radius: 23px; 
}


.flex-container {
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-around;
  align-items:center;
  align-content:space-between;
  background-color: #add8e6;
  
  
  
}


p {
   color: #000;
font-family:times new roman;
font-style:normal;
font-weight:normal;
text-decoration:none;
font-size:12px;
text-align: center;


}

ul,ol { 
list-style-type:georgian;
list-style-position:outside;
} 

a {
    color:#add8e6;
}

a:link {
color:#add8e6; 
   
}

a:visited {
 color:#add8e6;
}

a:focus {
  color:#add8e6;
}

a:hover {
  color:#add8e6;
}

a:active {
  color:#add8e6;
}


. first {
  font-weight:bold;
}

. done {
 text-decoration:line-through;
}

strong {
 color:#add8e6;
 font-size:22px;
}

sub , sup {
  color:#add8e6;
  text-decoration:none;
  
}

. box {
  
  
}

